<!DOCTYPE html>
<html>
    <head>
        <title>Score Viewer - Welcome</title>
    </head>
    
    <body>

        <h1>Sessions#new</h1>
        <h1>Welcome to Score Viewer!</h1>

    	<%= render 'login' %>
    	
    	<p>Make a new account <%= link_to 'Sign up' , new_player_path%></p>

    </body>
</html>