<!DOCTYPE html>
<html>
    <head>
        <title>Score Viewer - List of Players</title>
    </head>
    <body>
        <h1>Players#index</h1>
        <table>
            <tr>
                <td>Name</td>
                <td>Id</td>
                <td>Delete button</td>
            </tr>
            <% @players.each do |p| %>
                <tr>
                <td><%= p.name %></td>
                <td><%= p.id %></td>
                <td><%= link_to 'Delet this', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
        </table>
    </body>
</html>