<!DOCTYPE html>
<html>
    <head>
        <title>Score Viewer - New Player</title>
    </head>
    
    <body>

        <h1>Players#new</h1>
        
        <%= render 'signup_form' %>
        
    </body>
</html>