<!DOCTYPE html>
<html>
    <head>
        <title>Score Viewer - Player Page</title>
    </head>
    
    <body>
        <h1> Page for <%= @player.name %></h1>
        <p>Show games here</p>
        <p>Have options to add games (delete them in the game pages, not here</p>
    </body>
</html>
        